<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Pasteleria</title>
</head>
<link href="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<body>
<style>
    body {
        background-image: url('https://static.vecteezy.com/system/resources/previews/005/677/718/non_2x/high-tea-banner-with-cakes-doodle-sketch-hand-drawn-design-vector.jpg');
    }
</style>
<h1 align="center">Mis Combos</h1>
<div class="container">
    <table align="center">
        <table class="table">
            <thead class="thead-dark">
            <tr bgcolor="#b4a3a2">
                <th scope="col">ID</th>
                <th scope="col">Combo</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">PRECIO</th>
            </tr>
            </thead>
            <tbody bgcolor="#fbedec">
            <tr th:each="combo: ${comb}">
                <td th:text="${combo.id}"></td>
                <td th:text="${combo.combo}"></td>
                <td th:text="${combo.descripcion}"></td>
                <td th:text="${combo.precio}"></td>
            </tr>
            </tbody>
        </table>
    </table>
</div>
</table>
</body>
</html>